.pageContainer{
    padding: var(--page-vertical-padding--) var(--page-horizontal-padding--);
}

.header{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.keyButton{
    font-size: 12px;
    padding: 5px 10px;
}
